<ion-split-pane>
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary-dark">
      <ion-title>Ristorante Con Fusion</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="background-pale">
    <ion-list>
      <ion-list-header color="primary-light" text-wrap>
          <ion-thumbnail item-left>
            <img src="assets/images/logo.png" />
          </ion-thumbnail>
          <h3>Ristorante Con Fusion</h3>
      </ion-list-header>
      <button color="primary-pale" menuClose ion-item (click)="openLogin()">
        <ion-icon name="log-in" item-left></ion-icon>
        Login
      </button>
      <button color="primary-pale" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left></ion-icon>
          {{p.title}}
      </button>
      <button color="primary-pale" menuClose ion-item (click)="openReserve()">
          <ion-icon name="restaurant" item-left></ion-icon>
          Reserve Table
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>
</ion-split-pane>